<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="container">
      <a href="../index.html" class="home__link">Home</a>

      <p id="display">00:30.000</p>
      <button type="button" id="timer__start-btn">Start</button>
    </div>
    <script type="module" src="../js/task-2.js"></script>
  </body>
</html>
